
/*  index  */
.posts {
   margin: 50px 180px 10px;
}
 .posts .post {
   border: 1px solid #efefef;
   margin: 60px 0;
   border-radius: 3px;
}
 .posts .post .user {
   border-bottom: 1px solid #efefef;
   display: flex;
}
 .posts .post .user .avatar {
   width: 40px;
   height: 40px;
   margin: 8px;
}
 .posts .post .user .avatar img {
   width: 100%;
   border: 1px solid #efefef;
   border-radius: 50%;
   height: 100%;
}
 .posts .post .user .username {
   padding-top: 13px;
   color: #262626;
   font-size: 20px;
   font-weight: 600;
    text-decoration: none;
}
 .posts .post .main-image {
   width: 100%;
   border-bottom: 1px solid #f4f4f4;
}


/* pagination */
.homepage{
  [...]
}
.pagination span{
      padding-right: 10px;
}
/*desc-comments*/



/*.index-desc-comments{}*/
.index-description {
   height: 1.7rem;
   /*border: 2px solid red;*/
   display: flex;
}
.text-truncate{
  max-width: 400px;
  /*border: 2px solid red;*/  

}
.index-comments{
    /*border: 2px solid red;*/
    margin-top: 1rem;
}
.index-comments a{
  text-decoration: none;
  color: #a6a6a6;
}

.comment-time{
    font-size: 12px;
    margin-left: 50px;
    color: #a6a6a6;
}

.comment-form .body{
  width: 75%;
  border-color: transparent;
}
.comment-form .body:focus-visible{
  border-color: transparent;
}

/* icons */
.index-icons-main{
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.index-icons-main i{
  color: black;
  margin-left: 1rem;
  margin-right: 1rem;
}
.index-likes{
  margin: 1rem 0 1rem 0;
}
.index-comment-form{
  padding-left: 10px;
  border-top: 2px solid whitesmoke;
  margin-top: 1rem;
  height: 60px;
}
.index-comment-form .body{
  width: 85%;
  border: none;
  font-size: 1rem;
  margin-top: 15px;
}
.index-comment-form .btn{
  font-size: 23px;
  color: #809fff;
}
.index-post-time{
  margin: 1rem 0 1rem 0;
  text-transform: uppercase;
  font-size: 13px;
  color: #a6a6a6;
}

input{
  outline: none;
}